.nav-bar {
  display: flex;
  flex-direction: column;
}

.magnifier {
  display: block;
  justify-self: end;
  padding-right: 2.5rem;
  font-size: 1rem;
  color: grey;
}

.top-navlinks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 15fr 1fr 1fr 1fr 1fr;
  background-color: black;
  list-style: none;
  font-size: 13px;
  padding: 0;
}

.bottom-navlinks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 10fr;
  background-color: white;
  list-style: none;
  font-size: 0.8rem;
  padding: 0;
  height: 6vh;
  border-bottom: 0.5px solid lightgrey;
  align-items: center;
}

.top-navlink,
.bottom-navlink {
  display: inline-block;
  text-decoration: none;
  color: grey;
  padding: 0.4rem 0 0.4rem 0.4rem;
}

.bottom-navlink {
  text-transform: uppercase;
}

.nav-logo {
  display: none;
}

.headline-container {
    display: flex;
    padding-top: 1rem;
    padding-left: 1rem;
  }
  
  .two-column {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
  }

  .bg-image1 {
    background-image: url('https://bit.ly/2GzQLFM');
    width: 60vw;
    height: 70vh;
    margin-top: 5rem;
  }
  
  .bg-image2 {
    background-image: url('https://bit.ly/3ixcqM0');
    width: 31vw;
    height: 32.7vh;
    margin-top: 5rem;
  }
  
  .bg-image3 {
    background-image: url('https://bit.ly/2Sqlyrn');
    width: 31vw;
    height: 32.7vh;
  }

.news-container {
  display: grid;
  grid-template-columns: repeat(autofit, minmax(20% 1fr));
  grid-template-areas: 
    "section-title"
    "div div div div";
  justify-items: center;
  grid-gap: 2rem;
}

.news-post {
  align-self: center;
}