:root {
  overflow-x: hidden;
}

/* Hidden Stuff Desktop Version */

.nav-search,
.navbar-logo {
  display: none;
}

/* Navbar Code */

.navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 99;
  background-color: white;
  border-bottom: 0.5px solid lightgrey;
}

.top-navlinks,
.bottom-navlinks {
  display: flex;
  background-color: #000;
  justify-content: space-between;
}

.left-top-navlinks,
.right-top-navlinks {
  display: flex;
  padding: 0.2rem;
}

.right-top-navlinks {
  padding-right: 1rem;
}

.left-top-navlink > a,
.right-top-navlink > a {
  text-decoration: none;
  list-style: none;
  color: lightgrey;
  font-size: 0.7rem;
}

.bottom-navlinks {
  background-color: #fff;
}

.left-bottom-navlinks {
  display: flex;
  padding: 0.8rem;
  flex-grow: 22;
}

.left-bottom-navlink {
  font-size: 0.9rem;
  padding: 0.5rem;
  list-style: none;
}

.left-bottom-navlink > a {
  text-decoration: none;
  color: grey;
}

.right-bottom-navsearch > i {
  position: relative;
  top: calc(45% - 10px);
  left: calc(50% - 10px);
  color: lightgrey;
  font-size: 1.3rem;
  transform: rotateY(180deg)
}

.right-bottom-navsearch {
  flex-grow: 1;
  border-left: 0.5px solid lightgrey;
}

.left-top-navlink > a:hover,
.right-top-navlink > a:hover {
  color: white;
}

.left-bottom-navlink > a:hover,
.right-bottom-navlink > a:hover {
  color: black;
}

.right-bottom-navsearch > i:hover {
  color: grey;
}

.left-top-navlinks > .left-top-navlink:nth-child(1) > a {
  color: white;
}

.headline-container {
    display: flex;
    width: 100%;
    padding-top: 1.5rem;
  }
  
  .two-column {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
  }

  .bg-image1 {
    width: 60vw;
    height: 70vh;
    margin-top: 5rem;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0,0,0,1)), url('https://bit.ly/2GzQLFM');
  }
  
  .bg-image2 {
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0,0,0,1)), url('https://bit.ly/3ixcqM0');
    width: 31vw;
    height: 32.7vh;
    margin-top: 5rem;
  }
  
  .bg-image3 {
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0,0,0,1)), url('https://bit.ly/2Sqlyrn');
    width: 31vw;
    height: 32.7vh;
  }

 .news-container > .section-title {
   margin-left: 6rem;
   position: relative;
} 


.funds-info {
  display: flex;
  flex-direction: column;
  width: 64vw;
  padding-left: 16.5vw;
}

.funds-info-details {
  display: flex;
  justify-content: space-between;
}

.funds-interact {
  display: flex;
  justify-content: space-around;
  align-self: center;
}

.funds-interact > p {
  height: 22%;
  padding: 0 0.5rem 0 0.5rem;
}

.funds-interact > p:nth-child(1),
.funds-interact > p:nth-child(2) {
  border-right: 2px solid orangered;
}

.instacart {
  display: block;
}

.ico-funds-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.address,
.Company-name {
  padding-left: 0.5rem;
}

/*FOOTER*/
.footer-container {
  margin-top: 2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  justify-content: center;
}

.column-post {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.newspost-images img {
 height: 200px;
 width: 220px;
}

.posts-details {
  width: 220px;
  padding-bottom: 1rem; 
}

.hardfork-section {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  /* justify-content: center; */
  /* padding-left: 20rem; */
  padding-top: 2rem;
  justify-items: center;
  gap: 4rem;

}

.hardfork-img img {
  width: 312px;
}

.hardfork-headline {
  margin-top: -110px;
}

.hardfork-headline p{
  width: 230px;
}

.new-text {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(220px, 0.4fr) );
  grid-template-rows: auto;
  grid-template-areas: 
    "latest new-text-img"
    "inside-text new-text-img";
  justify-items: center;
}

.headline-font {
font-size: 50px;
font-weight: 900;
}

.headline2-font {
  font-size: 40px;
  font-weight: 900;
}
