:root {
  overflow-x: hidden;
}

.nav-logo {
  display: none;
}

.search-box {
  display: none;
}

.menu-bar {
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: sticky;
}

.top-navlinks {
  display: grid;
  grid-template-columns: 3% 3% 3% 3% 3% 70% 3% 3% 3% 3%;
  list-style: none;
  background-color: black;
  font-size: 13px;
}

.top-navlink {
  text-decoration: none;
  display: block;
  color: #ccc;
  padding: 0.5rem 0 0.5rem 1rem;
}

.top-navlink:hover {
  color: white;
}

.bottom-navlinks {
  display: grid;
  grid-template-columns: 6% 8% 6% 6% 12% 5% 50% 5%;
  list-style: none;
  justify-content: start;
  font-size: 14px;
  align-content: center;
}

.bottom-navlink:hover {
  color: black;
}

.bottom-navlinks > li {
  display: inline-block;
  padding: 1rem;
}

.bottom-navlink {
  text-decoration: none;
  color: grey;
  text-transform: uppercase;
}

.news-nav-link > a {
  color: white;
}

.about {
  padding-right: -20rem;
}

.magnifier {
  justify-self: end;
  color: grey;
  font-size: 18px;
  padding-top: -10%;
}

.magnifier:hover {
  color: black;
}

.headline-container {
    display: flex;
    width: 100%;
    padding-top: 1.5rem;
  }
  
  .two-column {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
  }

  .bg-image1 {
    background-image: url('https://bit.ly/2GzQLFM');
    width: 60vw;
    height: 70vh;
    margin-top: 5rem;
  }
  
  .bg-image2 {
    background-image: url('https://bit.ly/3ixcqM0');
    width: 31vw;
    height: 32.7vh;
    margin-top: 5rem;
  }
  
  .bg-image3 {
    background-image: url('https://bit.ly/2Sqlyrn');
    width: 31vw;
    height: 32.7vh;
  }

 .news-container > .section-title {
   padding-left: 16rem; 
} 


.funds-info {
  display: flex;
  flex-direction: column;
  width: 64vw;
  padding-left: 16.5vw;
}

.funds-info-details {
  display: flex;
  justify-content: space-between;
}

.funds-interact {
  display: flex;
  justify-content: space-around;
  align-self: center;
}

.funds-interact > p {
  height: 22%;
  padding: 0 0.5rem 0 0.5rem;
}

.funds-interact > p:nth-child(1),
.funds-interact > p:nth-child(2) {
  border-right: 2px solid orangered;
}

.instacart {
  display: block;
}

.ico-funds-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.address,
.Company-name {
  padding-left: 0.5rem;
}

/*FOOTER*/
.footer-container {
  margin-top: 2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  justify-content: center;
}

.column-post {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.newspost-images img {
 height: 200px;
 width: 220px;
}

.posts-details {
  width: 220px;
  padding-bottom: 1rem; 
}

.hardfork-section {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  /* justify-content: center; */
  /* padding-left: 20rem; */
  padding-top: 2rem;
  justify-items: center;
  gap: 4rem;

}

.hardfork-img img {
  width: 312px;
}

.hardfork-headline {
  margin-top: -110px;
}

.hardfork-headline p{
  width: 230px;
}

.new-text {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(220px, 0.4fr) );
  grid-template-rows: auto;
  grid-template-areas: 
    "latest new-text-img"
    "inside-text new-text-img";
  justify-items: center;
}
