* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.d-flex {
  display: flex;
}

.instacart {
  display: none;
}

.flex-column {
  flex-direction: column;
}

.black {
  color: black;
}

.grey {
  color: grey;
}

.lightpink {
  background-color: #ffc0cb;
}

h2 {
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.navlinks {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 8%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 99;
  background-color: white;
  border-bottom: 0.5px solid lightgrey;
}

.navbar-logo {
  background-color: black;
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo > img {
  width: 66px;
  height: 16px;
}

.nav-search {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25%;
}

.nav-search > i {
  font-size: 1.5em;
}

.nav-search > i:nth-child(1) {
  color: lightgrey;
  transform: rotateY(180deg);
  font-size: 1.3em;
}

.nav-search > i:nth-child(2) {
  color: orangered;
}

.headline-container {
  padding-top: 4rem;
  padding-left: 1rem;
}

.headline-post {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 26vh;
  width: 85vw;
  padding: 0.28rem 1rem 0.8rem 1rem;
  margin-bottom: 0.6rem;
  justify-content: flex-end;
  flex-direction: column;
}

.bg-image1 {
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0,0,0,1)), url('https://bit.ly/2GzQLFM');
}

.bg-image2 {
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0,0,0,1)), url('https://bit.ly/3ixcqM0');
}

.bg-image3 {
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0,0,0,1)), url('https://bit.ly/2Sqlyrn');
}

.post-details {
  color: white;
  font-size: 0.8rem;
  justify-content: flex-start;
}

.post-details > * {
  padding: 0% 2% 0% 0%;
}

.email > i,
.social-icons > a {
  display: inline-block;
  padding: 0.5rem;
  text-decoration: none;
}

.post-details > p > i {
  padding: 0% 1% 0% 0%;
}

.section-title {
  padding: 2rem 0 1rem 0.1rem;
  color: red;
  font-size: 1.6rem;
}

.font-styling p {
  margin-top: 0.8rem;
  font-size: 0.9rem;
  color: red;
}

.funds-info {
  padding: 0.8rem;
}

.funds-info img {
  height: 80px;
  width: 80px;
  position: absolute;
  margin-left: 15px;
  margin-top: 0.8rem;
}

.spacing {
  font-weight: bold;
  padding-left: 7rem;
  padding-top: 0.4rem;
}

.ico-funds h4 {
  background-color: orangered;
  height: 2rem;
  color: white;
  font-size: 0.8rem;
  padding-left: 7rem;
  padding-top: 1rem;
  margin-top: 2rem;
}

.funds-raises-detail {
  background-color: lightpink;
  height: 4rem;
  font-size: 1rem;
}

.address-details {
  background-color: #fffaf8;
  color: #383838;
  height: 11rem;
  font-size: 0.8rem;
  margin-bottom: 0.4rem;
  margin-top: -1.5rem;
}

.address-details p {
  padding-top: 0.8rem;
}

.ico-details {
  padding-left: 2rem;
}

.ico-details .tech {
  color: darkgray;
}

.article-hardfork > div > p {
  font-size: 0.8rem;
  /* color: orangered; */
  font-weight: bold;
}

.address-details p:nth-child(1) {
  margin-top: 1.4rem;
}

.icon-tag,
.breifcase,
.Company-name,
.address {
  padding-left: 2rem;
}

.hard-fork {
  padding: 0.7rem;
}

.hard-fork-container .headline-post {
  width: 85vw;
  height: 12rem;
}

.article-hardfork > div {
  width: 70%;
  padding: 0.6rem;
  margin-top: -2%;
}

.article-hardfork > div > h3 {
  font-size: 1rem;
  font-weight: 300;
  color: orangered;
}

.article-hardfork > img {
  width: 30%;
  height: 80%;
}

.bulleted-articles {
  padding: 1.5rem;
  width: 85vw;
}

.bulleted-articles > li {
  border-bottom: 1px solid lightcoral;
  padding: 0.8rem 0.8rem 0.5rem 0.8rem;
}

.bulleted-articles > li > a {
  text-decoration: none;
  color: lightslategray;
  font-weight: 300;
  font-size: 0.8rem;
}

.footer-container {
  background-color: #131313;
  margin-top: 1rem;
}

.bottom-section {
  background-color: black;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.bottom-section > span > img {
  width: 37px;
  height: 9px;
  padding-right: 0.2rem;
}

.social-icons {
  justify-content: center;
  padding-top: 2rem;
}

.email {
  justify-content: center;
}

.email > a > i,
.social-icons > a > i {
  font-size: 1.8rem;
  color: white;
}

.footer-links {
  justify-content: center;
  padding: 1.5rem;
}

.footer-links > ul > li {
  display: inline;
  padding: 0.2rem;
}

.footer-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #838f91;
  font-weight: 300;
  font-size: 0.8rem;
}

.bottom-section > span {
  color: #838f91;
  font-size: 0.8rem;
  font-weight: 300;
}

.hardfork-section {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

.article-hardfork {
  padding: 0 1rem 0 1rem;
}

.new-text {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(225px, 0.8fr) );
  grid-template-rows: auto;
  grid-template-areas: 
    ".latest .new-text-img"
    ".inside-text .new-text-img";
}


.bg-image4 > span {
  color: white;
}

.hardfork-img img{
  width: 320px;
  height: 250px;
  position: relative;
}

.hardfork-headline {
  margin-top: -90px;
  margin-left: 2px;
  padding-left: 6px;
  position: absolute;
  color: white;
  width: 300px;
  font-weight: 700;
}

.hardfork-headline > p:nth-child(1) {
  font-size: 13px;
  padding-bottom: 5px;
}

.latest  {
  width: 210px;
  background-color: #fffaf8;
  color: orangered;
}

.new-text img {
  width: 100px;
  height:100px;
  margin-left: -6.4px;
}

.grey {
  color: gray;
}

.bullet-articles li{
  width: 320px;
  border-bottom: 1px solid grey;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: small;
}

.bullet-articles a {
  text-decoration: none;
  color: black;
}

.newspost-images img {
  width: 100px;
  height: 100px;
  padding-bottom: 2px;
  padding-top: 4px;
}

.posts-details {
  padding-left: 0.5rem;
  font-size: 14px;
}

.news-container {
  padding-left: 1rem;
}

.news-post-title {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.5px;
  padding-bottom: 4px;
  font-weight: 500;
  padding-top: 6px;
}