* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h2 {
    color: white;
    font-size: 3.5rem;
    font-weight: bold;
}

nav img {
    background-color: black;
    display: block;
    height: 150px;
    position: relative;
    width: 200px;
    will-change: transform;
    z-index: 999;
    padding-left: 3rem;
    padding-right: 3rem;
}

.d-flex {
display: flex;
}

.nav-bar {
    justify-content: space-between;
}

.search-icon {
    width: 8vh;
    color: grey;
    border-left: 1px solid grey;
}

.icon i {
    font-size: 3rem;
    height: 8vh;
    width: 40px;
}

.navbar-icon {
    width: 8vh;
    color: red;
    border-left: 1px solid grey;
    align-self: center;

}

.headline-container {
    padding: 2rem;
}

.headline-post {
    background-size:  100% 100%;
    background-repeat: no-repeat;
    height: 26%;
    width: 85vw;
    padding:2rem;
    margin-bottom: 2rem;
    justify-content: flex-end;
    flex-direction: column;
}

.bg-image1 {
    background-image:url('https://bit.ly/2GzQLFM');
}

.bg-image2 {
    background-image: url('https://bit.ly/3ixcqM0');
}
 
.bg-image3 {
    background-image: url('https://bit.ly/2Sqlyrn');
}

.post-details {
    color: white;
    font-size: 2rem;
    justify-content: flex-start;
}

.post-details > * {
    padding: 0% 2% 0% 0%;
}

.post-details > p > i {
    padding: 0% 1% 0% 0%;
}

.section-title {
    padding-bottom: 2rem;
    color: red;
    font-size: 3.5rem;
}

.news-container {
    padding: 2rem;
}

.news-post {
    width: 85vw;
    margin-bottom: 2rem;
}

.news-img {
    width: 30%;
    height: 50%;
}

.news-post-details {
    flex-direction: column;
}

.news-title {
    font-size: 2rem;
}