.nav-bar {
  flex-grow: 1;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 0.5rem;
}

.menu-bar {
  display: flex;
  flex-direction: column;
  width: 100vw;
  flex-grow: 4;
}

.nav-logo {
  flex-grow: 1;
  width: 17%;
}

.top-navlinks {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  background-color: black;
  list-style-type: none;
  padding: 0.6rem;
}

.menu-bar > ul:nth-child(2) {
  list-style-type: none;
  text-transform: uppercase;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}

.bottom-navlinks > li {
  padding: 0.7rem;
}

.top-navlink,
.bottom-navlink {
  text-decoration: none;
  color: grey;
}

.magnifier {
  text-align: center;
  flex-grow: 2;
}

.terms {
  padding-right: 0.8rem;
}

.search-box {
  display: none;
}

.bg-image1 {
  background-image: url('https://bit.ly/2GzQLFM');
  width: 50vw;
  height: 40vh;
  margin-top: 5rem;
}

.bg-image2 {
  background-image: url('https://bit.ly/3ixcqM0');
  width: 30vw;
  height: 18.5vh;
  margin-top: 5rem;
}

.bg-image3 {
  background-image: url('https://bit.ly/2Sqlyrn');
  width: 30vw;
  height: 18.9vh;
}

.headline-container {
  display: flex;
}

.two-column {
  display: flex;
  flex-direction: column;
  border: 1 px solid black;
  margin-left: 0.5rem;
}

.newspost-container {
  display: flex;
  width: 220px;
  height: 290px;
}

.news-post {
  display: flex;
  flex-direction: column;
}

.news-post img {
  height: 180px;
  width: 220px;
  margin-left: 10px;
}
