.instacart {
  display: none;
}

.nav-bar {
  flex-grow: 1;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 0.5rem;
}

.menu-bar {
  display: flex;
  flex-direction: column;
  width: 100vw;
  flex-grow: 4;
}

.nav-logo {
  flex-grow: 1;
  width: 17%;
}

.top-navlinks {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  background-color: black;
  list-style-type: none;
  padding: 0.6rem;
}

.menu-bar > ul:nth-child(2) {
  list-style-type: none;
  text-transform: uppercase;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}

.bottom-navlinks > li {
  padding: 0.7rem;
}

.top-navlink,
.bottom-navlink {
  text-decoration: none;
  color: grey;
}

.magnifier {
  text-align: center;
  flex-grow: 2;
}

.terms {
  padding-right: 0.8rem;
}

.search-box {
  display: none;
}

.bg-image1 {
  background-image: url('https://bit.ly/2GzQLFM');
  width: 50vw;
  height: 40vh;
  margin-top: 5rem;
}

.bg-image2 {
  background-image: url('https://bit.ly/3ixcqM0');
  width: 30vw;
  height: 18.5vh;
  margin-top: 5rem;
}

.bg-image3 {
  background-image: url('https://bit.ly/2Sqlyrn');
  width: 30vw;
  height: 18.9vh;
}

.headline-container {
  display: flex;
  padding-top: 1rem;
  padding-left: 2rem;
}

.two-column {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}

.ico-funds-row {
  display: flex;
  justify-content: space-between;
}

.boost,
.malomo,
.venture {
  width: 30%;
  height: 100%;
}

.malomo > div > div {
  height: 51.8px;
}

.address,
.Company-name {
  padding: 0;
  margin: 0;
}

.hardfork-details {
  display: flex; 
  width: 50vw;
  height: auto;
}

.hardfork-column {
  display: flex;
  flex-direction: column;

}

main > section:nth-child(2),
main > section:nth-child(5) {
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 1rem;
}

main > section:nth-child(2) > .section-title,
main > section:nth-child(5) > .section-title {
  grid-column: 1 / 4;
}

/* main > section:nth-child(2) > .news-post, 
main > section:nth-child(5) > .news-post {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
} */

/* main > section:nth-child(2) > .news-post > img,
main > section:nth-child(5) > .news-post > img {
  width: 230px;
  height: 171px;
} */

/* HERE STARTS HARD FORK SECTION*/

.hardfork-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-container {
  display: grid;
  grid-template-columns: 250px 250px 250px;
}

.column-post {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.newspost-images img {
 height: 200px;
 width: 220px;
}

.posts-details {
  width: 220px;
  padding-bottom: 1rem; 
}


